.game-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(19, 19, 19);
  max-width: 90rem;
  margin: 5rem auto 0;
}

.game-details img {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.game-details h2 {
  font-family: 'Montserrat', sans-serif;
}

.game-details p {
  max-width: 70rem;
  margin-bottom: 4rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: rgb(219, 219, 219);
}