.games-container {
  display: flex;
  flex-direction: column;
}

.games-container h1 {
  margin: 3rem auto 2.5rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.games-columns {
  display: flex;
  justify-content: space-evenly;
}

.games-columns h2 {
  background-color: #606261;
  color: black;
  padding: 1.5rem;
  text-transform: uppercase;
  border-radius: 10px;
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #231f20;
  color: #bb3135;
}

.games-playing,
.games-next,
.games-played {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: 5rem;
}

