.nav-link {
  color: rgb(1, 179, 1)
}

.navbar {
  border-bottom: 2px solid rgb(1, 179, 1);
}

.navbar img {
  height: 100px;
}

.navbar ul {
  margin-right: 8rem;
}

.nav-item {
  text-transform: uppercase;
}